[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/barisgul/hugo-theme-hello-friend-ng.git
[submodule "public"]
	path = public
	url = https://github.com/barisgul/barisgul.github.io.git
	branch = master
